<h2 class="text-center">Markets</h2>

<div class="sellers row">
	<% @sellers.each do |seller| %>
		<div class="col-sm-4 seller-container">
			<h3><%= seller.name %></h3>
			<p><%= seller.street_address %><br>
			<%= seller.city %>, <%= seller.state %> <%= seller.zipcode %></p>
			<table>
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Description</th>
			</tr>
			<% seller.markets.last(3).each do |market| %>
			<tr>
				<td><%= market.product.name %></td> 
				<td><%= market.price %> <%= market.price_description %></td>
				<td><span class="small_font_desc"><%= market.description.first(75) %></span></td>
			</tr>
					
			<% end %>
			</table>
		</div>
	 <% end %>
 </div>
