<h2 class="text-center">Markets</h2>

<div class="sellers row">
	<% @sellers.each do |seller| %>
		<div class="col-sm-4 seller-container">
			<div class="row">
				<div class="col-sm-5">
					<%= image_tag seller.avatar.url, class: "small-avatar" %>
				</div>
				<div class="col-sm-7 text-left">
					<h3><%= link_to seller.name, profiles_show_path(:id => seller.id) %></h3>
					<p><%= seller.street_address %><br>
					<%= seller.city %>, <%= seller.state %> <%= seller.zipcode %></p>
				</div>
			</div>
			
			<table>
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Description</th>
			</tr>
			<% seller.markets.last(3).each do |market| %>
			<tr>
				<td><%= market.product.name %></td> 
				<td><%= market.price %> <%= market.price_description %></td>
				<td><span class="small_font_desc"><%= market.description.first(75) %></span></td>
			</tr>
					
			<% end %>
			</table>

		</div>
	 <% end %>
 </div>
