<h2 class="text-center">Markets</h2>


<div class="sellers row">
	<% @sellers.each do |seller| %>
		<div class="col-sm-4">
			<h3><%= seller.name %></h3>
			<p><%= seller.street_address %><br>
			<%= seller.city %>, <%= seller.state %> <%= seller.zipcode %></p>
			<h4>Current Products:</h4>
			<% seller.products.each do |product| %>
				<ul>
					<li><%= product.name %></li>
				</ul>
			<% end %>
		</div>
	 <% end %>
 </div>

