<h2>Edit a job</h2>

<div class="container">
  <div class="row">
		<div class="seller-container col-md-6">
		  <h2>Your account </h2>
			<h2>Seller Number: <%= @seller.id %></h2>
			<h4>Seller Name: <%= @seller.name %></h4>
			<h4>Seller email: <%= @seller.email %></h4>
			<h4>Address: <%= @seller.street_address %></h4>
			<h4>City <%= @seller.city %> </h4>
			<h4>Zipcode <%= @seller.zipcode %> </h4>
			<h4>Your current market</h4>
			<div class="produce-list">
				<% @seller.products.each do |product| %>
				   <%= product.name %> <br>
				<% end %>
			</div>
<!-- 			<a href="/markets/<%= @seller.id %>"><button>UPDATE MARKETS</button></a> -->
			<button>
			<%= link_to "YOUR MARKETS", market_path(@seller) %>
			</button>
			<button>
			<%= link_to "ADD MARKET", new_market_path %>
			</button>
		</div>

	<%= form_tag(profiles_show_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
		<%= submit_tag "Search", :name => nil %>
	<% end %>
	<div class="row">
		<% if @products %>	
			  <% @products.each do |product| %>
					<div class="col-sm-3">
						<h4>Product Name: <%= product.name %></h4>
						<p>PLU:  <%= product.PLU %></p>
						<p>Category:  <%= product.category %></p>
						<p>Organic:  <%= product.organic %></p>
					</div>
				<% end %>
		<% end %>
	</div>
  </div>
 </div>