<h2 class="text-center"><%= @seller.name %></h2>
<div class="row">
	<div class="seller-container col-sm-5">
		<div>
			<h3 class="text-center">Seller Information</h3>
			<div class="row">
				<div class="img-avatar col-sm-5">
					<%= image_tag @seller.avatar.url %>
				</div>
				<div class="col-sm-7 text-left"><p><%= @seller.name %><br>
					<%= @seller.street_address %><br>
					<%= @seller.city %>, <%= @seller.state %> <%= @seller.zipcode %> </p>
					<p><%= @seller.email %></p>
					<p>Seller Number: <%= @seller.id %></p>
				
					<% if current_seller %>
						<% if current_seller.id == @seller.id %>
							<%= button_to "Edit Account", edit_seller_registration_path, :method => "get", class: "search_button" %>
						<% end %>
					<% end %>

				</div>
			</div>
			<div class="review-div">
				<h3> Reviews for <%= @seller.name %> </h3>
				<% @seller.reviews.each do |review| %>
  					<ul>
  						<li class="text-left">"<%= review.comment %>"</li>
  					</ul>
				<% end %>
			</div>
		</div>
	</div>

	<div class="produce-list col-sm-7">
		<h3 class="text-center">Marketplace</h3>
		<% if current_seller %>
			<% if current_seller.id == @seller.id %>
				<div class="row">
					<div class="col-sm-6">
						<%= button_to "Edit Marketplace", market_path(@seller), :method => "get", class: "search_button" %>
					</div>
					<div class="col-sm-6">
						<%= button_to "Add to Marketplace", new_market_path, :method => "get", class: "search_button" %>
					</div>
				</div>
			<% end %>
		<% end %>
		<% @seller.markets.each do |market| %>
			<ul>
				<li><p><b><%= market.product.name %>: </b>$ <%= market.price %> <%= market.price_description %>. <br> 
					<%= market.description %> Harvested on <%= market.harvest_date %>, <%= market.harvest_location %>.</p>
				</li>
			</ul>
		<% end %>
	</div>
</div>
