	<%= form_tag(new_market_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
		<%= submit_tag "Search", :name => nil %>
	<% end %>
	<div class="row">
		<% if @products %>
			<%= form_for @market do |f| %>	
			  <% @products.each do |product| %>
					<div class="col-sm-3">
						<h4>Product Name: <%= product.name %></h4>
						<p>PLU:  <%= product.PLU %></p>
						<p>Category:  <%= product.category %></p>
						<p>Organic:  <%= product.organic %></p>
					</div>
				<% end %>
				
				<%= f.label :price, value:  "Price "%>
				<%= f.text_field :price %><br>

				<%= f.label :price_description, value: "Price Description" %>
				<%= f.text_field :price_description %><br>

				<%= f.label :harvest_date, value: "Harvest date" %>
				<%= f.text_field :harvest_date %><br>

				<%= f.label :harvest_location, value: "Harvest Location" %>
				<%= f.text_field :harvest_location %><br>
			<% end %>
		<% end %>
	</div>