<h2 class="text-center">Freshest, Local Produce</h2>

<div>
	<%= form_tag(products_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
  		<%= submit_tag "Search", :name => nil, class: 'search_button' %>
	<% end %>
</div>

<div class="seller-list row">
 	<% if @avail_sellers %>
 		<h4> Available from these sellers: </h4>
		<% @avail_sellers.each do |seller| %>
		  <div class="seller-container col-sm-4">
			  <p><b><%= seller.name %></b><br>
			  <%= seller.street_address %><br>
			  <%= seller.city %>, <%= seller.state %> <%= seller.zipcode %></p>
		  </div>
		<% end %>
	<% else %>
		<% @products.last(12).each do |product| %>
			<div class="col-sm-3 product_results">
				<h4><%= product.name %></h4>
				<p>PLU:  <%= product.PLU %></p>
				<p>Category:  <%= product.category %></p>
				<p>Organic:  <%= product.organic %></p>
				<p><a href='/products/<%= "#{product.id}" %>'>View this Product</a></p>
			</div>
		<% end %>
	<% end %>
</div>




