<h2 class="text-center">Freshest, Local Produce</h2>

<div>
	<%= form_tag(products_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
  		<%= submit_tag "Search", :name => nil, class: 'search_button' %>
	<% end %>
</div>

<% @products.last(4).each do |product| %>
	<div class="col-sm-3 product_results">
		<h4><%= product.name %></h4>
		<p>PLU:  <%= product.PLU %></p>
		<p>Category:  <%= product.category %></p>
		<p>Organic:  <%= product.organic %></p>
		<p><a href='/products/<%= "#{product.id}" %>'>View this Product</a></p>
	</div>
<% end %>

<div class="seller-list row">
<!--  	< if @avail_sellers %> -->
 		<h4> These sellers currently have <%= params[:search] %>: </h4>
		<% @avail_sellers.each do |seller| %>
		  <div class="seller-container col-sm-4">
			  <p><%= link_to seller.name, profiles_show_path(:id => seller.id) %><br>
			  <%= seller.street_address %><br>
			  <%= seller.city %>, <%= seller.state %> <%= seller.zipcode %></p>
		  </div>
		<% end %>
<!-- 	< else %> -->
		<div class="col-sm-3 product_results">
		<p>Sorry, <%= params[:search] %> is currently unavailable.</p>
		</div>
		
<!-- 	< end %> -->
</div>





