<h2>Freshest, Local Produce</h2>

<%= form_tag(products_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
  	<%= submit_tag "Search", :name => nil %>
<% end %>

<div class="row">
	<% @products.last(4).each do |product| %>
		<div class="col-sm-3">
			<h4>Product Name: <%= product.name %></h4>
			<p>PLU:  <%= product.PLU %></p>
			<p>Category:  <%= product.category %></p>
			<p>Organic:  <%= product.organic %></p>
		</div>
	<% end %>
</div>