<div>
	<div>
		<h2><%= @product.name %></h2>
		<p>PLU:  <%= @product.PLU %></p>
		<p>Category:  <%= @product.category %></p>
		<p>Organic:  <%= @product.organic %></p>
	</div>

	<h3>Markets with <%= @product.name %> for sale:</h3>
	
<h4> Available from these sellers </h4>
<div class="seller-list">
	<% @sellers.each do |seller| %>
	  <%= @seller.name %>
	<% end %>
</div>

	<% @markets.each do |market| %>
		<div>
			<h3>Seller: <%= market.seller.name %> </h3>
			<p>Address: <%= market.seller.street_address %>  </p>
			<p>  <%= market.seller.city %>,   <%= market.seller.state %>  <%= market.seller.zipcode %></p>
			<p>link to market.seller.id show</p>

			<h4>About <%= market.seller.name %>'s <%= @product.name %>: </h4>
			<p>Description: <%= market.description %></p>
			<p> Cost: $ <%= market.price %> <%= market.price_description %></p>
			<p> Harvested on: <%= market.harvest_date %></p>
			<p> Farm Location: <%= market.harvest_location %></p>
		</div>
	<% end %>
</div>