<h4> All Sellers</h4>
<div class="seller-list-div">
	<% @sellers.each do |seller| %>
		<p> Name: </p> <%= seller.name %> <br>
		<%= form_for @review do |f| %>
			<%= f.text_field :comment, :size => 80 %>
			<%= f.label :rating %>
			<% (1..5).each do |num| %>
				<%= radio_button_tag(:rating, num.to_i) %>  
			<% end %>
		  <%= hidden_field_tag(:seller_id, seller.id) %>
		  <%= submit_tag "ADD REVIEW", "seller_id" => seller.id, class: "search_button" %>
		<% end %>
	<% end %>
</div>
