<!DOCTYPE html>
<html>
  <head>
    <title>ProduceEx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="navbar">
  		<ul>
  			<li><%= link_to "Produce Land", root_path %></li>
        <li><%= link_to "Find Produce", products_path %></li>
  
  				<% if !current_seller %>
          <li><%= link_to "Sign In", new_seller_session_path %></li>
          <li><%= link_to "Sign Up", new_seller_registration_path %></li>
          <% else %>
         <li> <%= link_to "My Profile", profiles_show_path %> 
  			<li><%= link_to("Sign out", destroy_seller_session_path, :method => :delete) %></li>
  				<% end %>
         <li><%= form_tag(profiles_index_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Sellers" %>
    <%= submit_tag "Search", :name => nil, class: 'search_button' %>
       <% end %></li>

  		</ul>
  	</div>
    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>
